/.DS_Store
/.idea
/123
/3parlinux多路径配置
/401网管区yum源配置
/ceph.txt
/django-admin startproject zdww   创建django工程
/linux脚本切换用户
/opsnstack
/pythontest.py
/rsync数据同步
/safe
/ssh升级修改配置
/xmind文件
/为安全起见，默认情况下“源:目的检查”的状态为“ON”，
/环保专网YUM源配置
/环保光交配置
/编辑1
/编辑2
/编辑4